html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Georgia, serif;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #efefef;
}

.banner {
  background-color: #495562;
}

.btn {
  border-color: #97a49b;
  color: #fff;
}

@media only screen and (min-width: 38em) {

  .btn-right {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .banner-content {
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, rgba(73, 85, 98, .9));
    bottom: 0;
  }

  .banner {
    position: relative;
    max-height: 500px;
    overflow: hidden;
  }

  .btn {
    border-color: #fff;
  }

}
